.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
}

.logo {
  width: 70px;
  padding: 5px;
  margin-bottom: -4px;
}

.card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid gray;
}

.card > img {
  width: 100%;
}
